$main: #7859ff;
$secondary: #9eff4a;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-rows: auto 2fr 1fr auto;
  background-color: #fafafa;
  font-family: "Ubuntu", sans-serif;
}

header {
  @include center;
  padding: 0.5rem;
  background-color: $main;

  .header-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
  }
}

.calculate-section {
  @include center;
  flex-direction: column;
  justify-content: space-evenly;

  .calculate-title {
    font-size: 2rem;
    color: $main;
    text-align: center;
  }

  .calculate-input {
    font-size: 3rem;
    padding: 0.75rem;
    border-radius: 1rem;
    border: solid 1px;
    border-color: $main;
    color: $main;

    transition: all 0.5s;

    &:focus,
    &:hover {
      outline: none;
      border-color: $secondary;
      color: $secondary;
    }
  }

  .calculate-button {
    padding: 0.75rem 1rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: 0;
    box-shadow: 5px 3px 5px 0 rgba($color: #000000, $alpha: 0.2);
    color: white;
    background-color: $main;

    transition: all 0.75s;

    &:focus,
    &:hover {
      outline: none;
      color: $main;
      background-color: $secondary;
    }
  }
}

.result-section {
  @include center;
  justify-content: start;
  flex-direction: column;

  .result-title {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .result-content {
    color: $main;
    font-size: 2rem;
  }
}

footer {
  padding: 0.5rem;
  background-color: $secondary;
  font-size: 1.25rem;
  color: $main;
}
